<%= form_for @contact do |f| %>
  <div class="form-group">
    <%= label(:contact, :name) %>
    <%= f.text_field :name, required: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label(:contact, :email) %>
    <%= f.text_field :email, required: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label(:contact, :subject) %>
    <%= f.text_field :subject, required: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label(:contact, :message) %>
    <%= f.text_area :message, required: true, class: 'form-control' %>
  </div>
  <%= submit_tag 'Submit', class: 'btn btn-default' %>
<% end %>