<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="JJCXN45P-paU_9motX7aaXI7AM7Jf4lfHYbHZAAAsvo" />
  <title><%= content_for?(:title) ? yield(:title) : "Dealer" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dealer" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %>
  <%= yield %>
</div>
</body>
</html>
